@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
body {
  font-family: 'Sans-serif', sans-serif;
  line-height: 2;
  color: #e2552d;
}
.cocktail-creator-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: xx-large;
}
.main-content {
  padding: 8px 32px 24px;
  background: #313d64;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.active-link {
  color: #805AD5;
}

/* Special Styles */
.q-field__native {
  box-sizing: border-box;
  border-radius: 5px;
}

/* Dark Mode Styles */
body[data-dark="true"] {
  background-color: #121212;
  color: #EDEDED;
}

body[data-dark="true"] a,
body[data-dark="true"] .search-link{
  color: #EDEDED;
}

body[data-dark="true"] h1, body[data-dark="true"] h2, body[data-dark="true"] h3 {
  color: #FFFFFF;
}

body[data-dark="true"] .custom-file-upload,
body[data-dark="true"] .border,
body[data-dark="true"] .mdi-heart,
body[data-dark="true"] .mdi-comment-outline,
body[data-dark="true"] .post-author,
body[data-dark="true"] .post-body,
body[data-dark="true"] .like-count,
body[data-dark="true"] .comment-count {
  color: #EDEDED;
}

body[data-dark="true"] .custom-file-upload {
  border-color: #555;
}

body[data-dark="true"] div.main-center {
  background-color: inherit
}

body[data-dark="true"] .main-content {
  background: linear-gradient(to top,  #404040, #121212);

}
body[data-dark="true"] .post-container {
  background-color: #121212;
}

body[data-dark="true"] .q-table thead {
  background-color: #282828;
}

body[data-dark="true"] .q-table tbody tr.cursor-pointer:nth-child(odd) {
  background-color: #404040;
}

body[data-dark="true"] .q-table tbody tr.cursor-pointer:nth-child(even) {
  background-color: #404040;
}


body[data-dark="true"] .profile-container,
body[data-dark="true"] .people-container,
body[data-dark="true"] .chat-container,
body[data-dark="true"] .empty-convo,
body[data-dark="true"] .empty-friends-list,
body[data-dark="true"] .trend-container,
body[data-dark="true"] .friend-card,
body[data-dark="true"] .empty-feed {
  background-color: #121212;
  border-color: #4A5568;
  color: #EDEDED;
}

body[data-dark="true"] .active-link {
  color: #00ff00;
}

body[data-dark="true"] .avatar-preview,
body[data-dark="true"] .image-cropper {
  background-color: #2D3748;
  border-color: #4A5568;
}

body[data-dark="true"] .q-card,
body[data-dark="true"] .q-btn,
body[data-dark="true"] .q-table,
body[data-dark="true"] .q-card-section {
  background-color: #404040;
  border-color: #4A5568;
  color: #EDEDED;
}

body[data-dark="true"] .q-field__append,
body[data-dark="true"] .q-field__marginal,
body[data-dark="true"] .q-field__native,
body[data-dark="true"] .q-field__control,
body[data-dark="true"] .q-anchor__skip,
body[data-dark="true"] .q-select__focus-target,
body[data-dark="true"] .q-item-label {
  color: #EDEDED;
}

/*body[data-dark="true"] .q-field__append,*/
/*body[data-dark="true"] .q-field__native {*/
/*    background-color: #282828;*/
/*    border-color: #4A5568;*/
/*}*/

body[data-dark="true"] .q-expansion-item,
body[data-dark="true"] .q-field,
body[data-dark="true"] .q-expansion-item__container {
  background-color: #181818;
  border-color: #4A5568;
  color: #EDEDED;
}
body[data-dark="true"] .ingredient-container {
  background-color: #181818;
  border-color: #4A5568;
  color: #EDEDED;
}

body[data-dark="true"] .q-table__bottom-item {
  color: #EDEDED;
}

body[data-dark="true"] .q-table__container {
  background-color: #282828;
}
body[data-dark="true"] .q-item {
  background-color: #181818;
  border-color: #4A5568;
  color: #EDEDED;
}
body[data-dark="true"] .search-input-light {
  background-color: #FFFFFF !important;
  border: 1px solid #4A5568 !important;
}

body[data-dark="true"] .friend-name {
  color: #FFFFFF;
}

body[data-dark="true"] .trend-explore-btn {
  background-color: #805AD5;
}

body[data-dark="true"] .feed-item-container {

}
.feed-item-container {
  padding: 5px;
  border-radius: 5px;
}
body[data-dark="true"] .input-background {
  background-color: #000000;
}

body[data-dark="true"] .received-message {
  background-color: #121212 !important;
  color: #EDEDED !important;
}

body[data-dark="true"] .received-message-bubble {
  background-color: #282828 !important;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  color: #EDEDED !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Default styles for nav-link */
.nav-link {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  background-color: #CBD5E0;
  color: #007BFF;
}

.nav-link:focus, .nav-link:active {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Dark mode styles for nav-link */
body[data-dark="true"] .nav-link {
  color: #EDEDED;
}

body[data-dark="true"] .nav-link:hover {
  background-color: #4A5568;
  color: #E2E8F0;
}

body[data-dark="true"] .nav-link:focus, body[data-dark="true"] .nav-link:active {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); /* Adjust to a lighter box shadow for dark mode */
}

body[data-dark="true"] .dark-mode-toggle,
body[data-dark="true"] .menu-right {
  background-color: #121212;
}